@import "../../shared/global";

.theme {
  position: absolute;
  right: 20px;
  top: 15px;
  @media (max-width: 768px) {
    right: 5px;
  }

  i {
    font-size: 2.5em;
    cursor: pointer;
    margin-right: 10px;
    @media (max-width: 768px) {
      font-size: 2.3em;
      margin-right: 5px;
    }
  }
}
