.login {
  width: 300px;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;

  input {
    width: 300px;
    padding: 5px;
    font-family: inherit;
    font-size: 1.1em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }

  .label {
    text-align: left;
    font-size: 0.9em;
    color: #ccc;
    position: relative;
  }

  .button {
    text-align: center;
    margin-top: 20px;
  }

  .errors {
    color: red;
    margin: 0px;
    font-size: 0.9em;
  }
  .secret {
    text-align: center;
    color: grey;
    font-style: italic;
  }
}
