.error-message {
  position: absolute;
  left: 50%;
  top: 20px;
  animation: fade_in_show 3s;
  .content {
    position: relative;
    left: -50%;
    padding: 5px 15px;
    font-size: 1.5em;
    background-color: red;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .error-message {
    .content {
      font-size: 1.1em;
    }
  }
}
