.main-container {
  text-align: center;
  form {
    margin-top: 10px;
    input {
      width: 150px;
      padding: 5px;
      font-family: inherit;
      font-size: 1.1em;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
    }

    .label {
      text-align: left;
      font-size: 0.9em;
      color: #ccc;
      position: relative;
    }
  }
}

.main-forecast {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;

  .city {
    grid-column: 1/-1;
    grid-row: 1;
    h1 {
      margin-bottom: 10px;
    }
  }

  .temp-humidity {
    grid-row: 2;
    width: 80px;
    justify-self: right;
    align-self: center;
  }
  .image-condition {
    grid-row: 2;
    text-align: center;
    span {
      font-size: 8.5em;
    }
    h2 {
      margin-top: 0;
    }
  }
  .sun {
    grid-row: 2;
    align-self: center;
    text-align: left;
  }

  .wind-pressure {
    grid-column: 1/-1;
    grid-row: 3;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    h2 {
      margin-top: 0px;
    }
    .low-high {
      display: flex;
      justify-content: center;
      h2 {
        padding: 0 10px;
      }
    }
  }

  h1 {
    text-align: center;
  }
  img {
    width: 300px;
    color: #fff;
    background-color: #fff;
  }
  i {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .main-forecast {
    width: 90%;
    font-size: 0.8em;

    .image-condition {
      span {
        font-size: 6.5em;
      }
    }
    .wind-pressure {
      .low-high {
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 3;

        h2 {
          padding: 0 5px;
        }
        i {
          margin-right: 2px;
        }
      }
      .rest {
        grid-row: 2;
        grid-column-start: 1;
        text-align: right;
      }
      .wind {
        grid-column-start: 3;
        text-align: left;
      }
    }
  }
}
