@import "./shared/global";

$bgDark: $black;
$bgLight: $white;

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

body {
  opacity: 0.7;
  box-sizing: border-box;
}
.dark {
  background-color: $bgDark;
  color: set-text-color($bgDark);

  .custom-button {
    border-color: $bgLight;
    color: set-text-color($bgDark);
    &:hover {
      color: set-text-color($bgLight);
    }
  }

  form {
    input {
      border-bottom: 1px solid $bgLight;
      background-color: $bgDark;
      color: set-text-color($bgDark);
    }
  }
}

.light {
  background-color: $bgLight;
  color: set-text-color($bgLight);

  .custom-button {
    border-color: $bgDark;
    background-color: $bgLight;
    color: set-text-color($bgLight);
    &:hover {
      color: set-text-color($bgLight);
    }
  }
  form {
    input {
      border-bottom: 1px solid $bgDark;
      background-color: $bgLight;
      color: set-text-color($bgLight);
    }
  }
}
