.single-forecast {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  i {
    padding-right: 3px;
  }

  .day {
    text-align: center;
    h2 {
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }

  .image-condition {
    text-align: center;
    margin: 0 auto;
    span {
      font-size: 4.5em;
    }
    h3 {
      margin-top: 10px;
    }
  }
  .temperature {
    display: flex;
    justify-content: center;
    h3 {
      margin-top: 0;
      margin-right: 20px;
    }
  }
}

@media (max-width: 768px) {
  .single-forecast {
    font-size: 0.8em;
    .image-condition {
      h3 {
        font-size: 1em;
      }
      span {
        font-size: 3.5em;
      }
    }
  }
}
