.single-forecast {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;

  .day {
    text-align: center;
    h2 {
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }

  .image-condition {
    text-align: center;
    margin: 0 auto;
    span {
      font-size: 4.5em;
    }
    h3 {
      margin-top: 10px;
    }
  }
  .temperature {
    display: flex;
    justify-content: center;
    h3 {
      margin-top: 0;
      margin-right: 20px;
    }
  }
}
